<div class="reset-password-container">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" required />
    </div>
    <div>
      <label for="otpToken">OTP Token:</label>
      <input id="otpToken" formControlName="otpToken" type="text" required />
    </div>
    <div>
      <label for="newPassword">New Password:</label>
      <input
        id="newPassword"
        formControlName="newPassword"
        type="password"
        required
      />
    </div>
    <button type="submit" [disabled]="resetPasswordForm.invalid">
      Reset Password
    </button>
  </form>
  <div *ngIf="message" class="message">{{ message }}</div>
</div>
