<div class="container">
  <h2>Passwordless Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-fields">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" />
      </mat-form-field>
      <div class="button-group">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </div>
    </div>
  </form>
</div>
